

#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 1;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/blue-snow.png");
  text-align: center;
  
}

form {
  background-color: #f0f0f0;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/blue-snow.png");
  color: #333;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input[type="text"],
form textarea {
  display: block;
  color: black;
  background-color: #d1cbcb;
  border: 1px ridge blue;
  border-radius: 1em;
  padding: 1em;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px
}

.submit-post-button {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
}

button {
    width: 150px;
    height: 50px;
    background-color: blue;
    color: rgb(202, 44, 44);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
  }


.submit-post-button:hover{
  background-color: green;
}

.more-info-button {
  background-color: rgb(44, 187, 189);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
}

header {
background-color: cadetblue;
font-size: larger;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
display: flex;
align-items: flex-start;
padding: 20px
;
}

header a {
  color: whitesmoke;
  margin-right: 30px;
}

header a:hover {
  background-color:rgb(28, 83, 13);
  border-radius: 7px;
}

footer {
  background-color: black;
  color: white;
  margin-top: 1em;
  text-align: center;
  padding: .005em
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  
}

.card img {
  object-fit: cover;
  text-align: center;
}

.card:hover {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/trees.png");
  box-shadow: 0px 10px 50px rgb(0 0 0/ 12);
}

main {
  max-width: 50em;
  margin: 0 auto;
}

